.main {
    background-color: BLACK;
    background-image: url('./images/gradient1.png'), url('./images/texture1.png');
    height: 100vh;
    image-rendering:pixelated;
    background-blend-mode:hue,hard-light;
    background-repeat:no-repeat,repeat;
    background-size: 100%, 20%;
    margin: 0px, 0px;
}

.top_banner {
    backdrop-filter: blur(5px);
    font-family:'Trebuchet MS';
    height: 16vh;
    width: 95%;
    padding:2%;
    border-width: 7px;
    border-style:ridge;
    border-color: rgb(17, 8, 36);
    background-color:rgba(0, 2, 22, 0.507);
    background-blend-mode:color-burn;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro_panel {
    justify-content:center;
    color: rgb(148, 226, 187);
    background-color:rgba(0, 0, 0, 0.315);
    padding:22px;
    padding-left:35px;
    padding-right:35px;
    
}


.link {
    backdrop-filter:blur(5px);
    margin:10px;
}