
.main {
    
    background-color: BLACK;
    background-image: url('./images/texture1.png');
    height: 100vh;
    image-rendering:pixelated;
    background-blend-mode:normal;
    background-repeat:unset;
    background-size: 100%;
    margin: 0px, 0px;

    font-family: "Audiowide", sans-serif;
    font-size: small;

    display:flex;
    justify-content: center;
}

.top_banner {
    height: 16vh;
    width: 25%;
    margin:1%;
    padding:1%;

    display: flex;
    justify-content: center;

    background-color:rgba(0, 0, 0, 0.349);
    backdrop-filter: blur(5px);
    background-blend-mode:color-burn;

    color: rgb(216, 171, 214);

    text-decoration-line: underline;
    text-decoration-thickness: 5%;
    text-decoration-style: double;

    border-width: 3px;
    border-style:ridge;
    border-color: rgba(111, 38, 133, 0.466);
}


.section {
    display: flex;
    justify-content: center;
}