/* background=black, column format */
body {
    background-color: #191a1c;
}

/* no text dec, slightly bold */
a {
    font-weight: 500;
}

/* text color=white, font=roboto */
* {
    color: #f5f5f5;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

html {
    overflow-y: scroll;
}

.top-section {
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
}

.titles {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
}

.mid-center {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 5rem;
}

.links {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 2rem;
}

.title-links {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 1rem;
}

iframe {
  width: 100%;
  max-width: 720px;
  aspect-ratio: 16 / 9;
  border: none;
}

.videos {
    display: flex;
    flex-direction: column;
    padding-top: 5rem;
}


/* 
past css for reference
.columns {
    flex-direction: column;
}

button {
    height: 30px;
    width: 60px;
    padding: 10px;
    border: 2px solid red;
    margin: 10px;
}

.top-section{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.left-side, .right-side {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
}

.middle-section {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    gap: 1em;
} */